* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(#ffde84, rgba(250, 222, 145, 0.827));

  color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Garantir que todo o conteúdo preencha a tela */
html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1em;
}

/* Fonte alternativa para cabeçalhos */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
}